#maxCalories {
    display: block;
    margin: 10px;
}
.boxed {
    border: 1px solid green ;
    width: 25%;
  }

/* .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute;
  right:100px;
    top: 0px;
    ;
  cursor: pointer;
} 
.button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute;
  right:200px;
    top: 0px;
    ;
  cursor: pointer;
}  */
 